<div style="text-align: center; background-color: #F0E68C;">
  <h1 style="color: #ff5e00;">Crear Productos</h1>

  <a href="/products">Products list</a>

  <form action="/form-products" method="post">
    Titulo: <input type="text" name="title"><br>
    Descripción: <input type="text" name="description"><br>
    Precio: <input type="number" name="price"><br>
    Imagen: <input type="name" name="thumbnail"><br>
    Código: <input type="text" name="code"><br>
    Categoría: <input type="text" name="category"><br>
    Stock: <input type="number" name="stock"><br>
    <button type="submit">Enviar</button>
  </form>
</div>

<div style="text-align: center;">
  
</div>
