<h1>Crear Productos</h1>
<a href="/products">Products list</a>

<form action="/form-products" method="post">
    Titulo: <input type="text" name="title">
    <br>
    Description: <input type="text" name="description" >
    <br>
    Precio: <input type="number" name="price" >
    <br>
    Imagen: <input type="name" name="thumbnail" >
    <br>
    Codigo: <input type="text" name="code" >
    <br>
    Categoria: <input type="text" name="category" >
    <br>
    Stock: <input type="number" name="stock" >
    <br>
    <button type="submit">Enviar</button>
</form>