<div>
    <h1 style="text-align: center; color: #ff5e00;">Te damos la bienvenida a Bakery94</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione deserunt ullam nisi repellendus labore ad sed, earum neque quidem aliquid asperiores aspernatur quisquam quis hic autem? Rem libero mollitia fugiat.</p>
    

    
</div>

<div class="col-sm">
    <div class="row">
<div class="card" style="width: 18rem; margin: 15px;">
  <img src="https://previews.123rf.com/images/caftor/caftor1606/caftor160600132/59775655-retrato-de-amistad-oferta-panaderos-pareja-acaba-de-pasteler%C3%ADa-cocida-muy-sabroso-pastel-del-estante.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem; margin: 15px;">
  <img src="https://eu.edcwb.com/img/news/panadero2.0.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem; margin: 15px;">
  <img src="https://www.huleymantel.com/uploads/s1/39/41/91/diseno-sin-titulo-2023-01-12t173613-862.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem; margin: 15px;">
  <img src="https://www.lkbitronic.com/wp-content/uploads/2022/06/software-panaderia-pasteleria2.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>


    </div>


</div>

