
<div class="box01 center-content">
<h1>-----BAKERY94-----</h1>

<ul>
    <li>
        <a href="/products">Pasteleria</a>
    </li>
    <li>
        <a href="/form-products">Crear productos</a>
    </li>
</ul>
</div>

